@import "~@carbon/elements/scss/layout";

footer {
  margin: $carbon--layout-02 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-self: center;
  div.contact-us {
    h6 {
      margin-bottom: $carbon--spacing-02;
    }
    ul > li {
      margin: $carbon--spacing-04 0;
      span {
        display: block;
      }
    }
  }
  hr.divider {
  }
  div.advocates {

    h6 {
      margin-bottom: $carbon--spacing-02;
    }
    ul > li {
      margin: $carbon--spacing-04 0;
    }
  }
}
