@import "~node_modules/@carbon/elements/scss/layout/index";

#video-shell {
  padding-top: $carbon--layout-04;
  display: grid;
  grid-template-rows: 1fr min-content;
  main {
    min-height: 100vh;
  }
}
