@import "~node_modules/@carbon/elements/scss/layout/index";

#video-shell {
  padding-top: $carbon--layout-04;
  display: grid;
  grid-template-areas:
    'content recommended'
    'footer footer';
  main {
    grid-area: content;
    min-height: 100vh;
  }
  aside {
    grid-area: recommended;
  }
  app-footer {
    grid-area: footer;
  }
}
